# Application Environment
ENV=development
SEEDING=true # Set to true to enable seeding of the database on startup. Set to false to skip seeding (useful for production).
SEEDING_SIZE=50 # Number of documents to seed in the database (only used if SEEDING=true).

# Frontend Configuration
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000

# Backend Configuration
BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0

# OpenSearch Configuration
OPENSEARCH_HOST=opensearch-node
OPENSEARCH_PORT=9200
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
DISABLE_SECURITY_PLUGIN=true
