# Application Environment
ENV=development

# Frontend Configuration
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000

# Backend Configuration
BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0

# OpenSearch Configuration
OPENSEARCH_HOST=opensearch-node
OPENSEARCH_PORT=9200
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
DISABLE_SECURITY_PLUGIN=true
